/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/*Styles*/
body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  background: #f1f1f2 none repeat scroll 0 0;
}
select {
  font-family: "Myriad Pro", sans-serif;
}
.header {
  background: #595a5c none repeat scroll 0 0;
  padding: 50px 0;
}
.back-btn img {
  width: 50px;
  margin-top: 27px;
}
.upgrade {
border-left: 1px solid #959697;
color: #fff;
font-family: arial;
font-size: 40px;
font-weight: bold;
margin-left: 55px;
padding: 12px 50px;
}
.main-content {
  padding: 25px 0;
}
.photo {
  text-align: center;
}
.photo h2 {
  color: #414142;
  font-size: 50px;
  font-weight: bold;
}
.photo > img {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #fff none repeat scroll 0 0;
  border-color: -moz-use-text-color;
  -o-border-image: url("../images/photo-frame.png") 100 100 100 100;
     border-image: url("../images/photo-frame.png") 100 100 100 100;
  border-style: solid;
  border-width: 50px;
  display: block;
  margin: 20px 0;
  overflow: hidden;
  padding: 34px;
  width: 100%;
}
.photo-guidelines {
  font-size: 24px;
  text-decoration: underline;
   color: #27aae1;
}
.form {
  font-size: 22px;
}
.form-group {
  margin-top: 100px;
}
.full-width {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
border-color: -moz-use-text-color;
-o-border-image: url("../images/form-border.png") 30 30 30 30;
   border-image: url("../images/form-border.png") 30 30 30 30;
border-style: solid;
border-width: 10px;
color: #444;
font-family: arial;
font-size: 24px;
padding: 5px 10px;
width: 100%;
}
.save-profile {
  background: #595a5c none repeat scroll 0 0;
  border: 1px solid #595a5c;
  border-radius: 7px;
  color: #fff;
  float: right;
  font-size: 24px;
  font-weight: bold;
  padding: 8px 20px;
}
.custom-arrow {
  position:relative;
  margin-bottom: 57px;
}
.custom-arrow-last {
  margin-bottom: 41px;
}
input.full-width {
  margin-bottom: 57px;
}
.custom-arrow::after {
  content: url("../images/drop-arrow.png");
  pointer-events: none;
  position: absolute;
  right: 8px;
  top: 10px;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  color: #888;
  cursor: pointer;
}

input::-webkit-input-placeholder {
color: #444444 !important;
opacity: 1;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #444444 !important;
opacity: 1;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #444444 !important;
opacity: 1;  
}

input:-ms-input-placeholder {  
color: #444444 !important;
opacity: 1;  
}
.upload-photo,
.choose-avatar {
  background: #e7e8e9 none repeat scroll 0 0;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 5px 10px;
}
p {
  color: #58595b;
  font-size: 29px;
  font-weight: normal;
  padding: 10px 0;
}
textarea.form-control {
  font-size: 34px;
  font-weight: bold;
}
.tidbits {
  margin: 40px 0 115px;
}
.pull-left{
	border: 10px solid;
  -o-border-image: url("../images/form-border.png") 30;
     border-image: url("../images/form-border.png") 30;
  font-size: 36px;
  font-weight: bold;
  padding: 0 32px;
  margin: -7px 0 0 50px;	
   color: #1b49a7;
}
.pull-right {
  border: 10px solid;
  -o-border-image: url("../images/form-border.png") 30;
     border-image: url("../images/form-border.png") 30;
  font-size: 36px;
  font-weight: bold;
  padding: 0 40px;
  margin: -7px 50px 0 0;
   color: #1b49a7;
}

.c-border {
    border: 5px solid;
    -o-border-image: url("../images/form-border.png") 30;
       border-image: url("../images/form-border.png") 30;    
}
.form-bottom {
  margin-top: 30px;
  width: 136%;
}
.form-bottom a {
  color: #a7a9ac;
  padding: 15px;
}
footer {
  background: #595a5c none repeat scroll 0 0;
  padding: 55px 0;
}
.col-md-2.col-xs-6 > a {
background: #fff none repeat scroll 0 0;
border-radius: 5px;
color: #595a5c;
font-size: 20px;
left: -80px;
padding: 0px 6px;
position: absolute;
top: -52px;
}
.custom-last > a {
  position: relative;
}
.footer-menu ul {
  padding: 0;
  float: right;
}
.footer-menu ul li {
  display: inline;
  font-size: 20px;
  list-style: outside none none;
}
.footer-menu ul li a {
border-left: 2px solid #959697;
color: #fff;
font-size: 39px;
font-weight: normal;
padding: 15px 46px;
}
/* Responsive */
/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 

.custom-arrow {
  position:relative;
  margin-bottom: 34px;
}
.custom-arrow-last {
  margin-bottom: 18px;
}
input.full-width {
  margin-bottom: 34px;
}  
}


/* Tablet Layout: 768px to 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
.form-bottom {
  margin-left: 15%;
}
.photo > img {
  border-width: 30px;
}
  .upload-photo, .choose-avatar {
  font-size: 19px;
  padding: 5px;
}
.custom-arrow {
  position:relative;
  margin-bottom: 27px;
}
.custom-arrow-last {
  margin-bottom: 18px;
}
input.full-width {
  margin-bottom: 27px;
} 
p {
  font-size: 24px;
}
.upgrade {
  border-left: 1px solid #fff;
  color: #fff;
  font-family: myriad pro;
  font-size: 40px;
  font-weight: bold;
  margin-left: 154px;
  padding: 10px 30px;
}
.back-btn img {
  margin-top: 7%;
  width: 50px;
}
.col-md-2.col-xs-6 > a {
background: #fff none repeat scroll 0 0;
border-radius: 5px;
color: #595a5c;
font-size: 20px;
left: -5px;
padding: 0px 6px;
position: absolute;
top: -52px;
}
}


/* Mobile Layout: 767px. */
@media only screen and (max-width: 767px) {
  .form-bottom {
    margin-left: 10%;
  }
  .upload-photo, .choose-avatar {
  font-size: 75%;
  padding: 5px;
}
.photo > img {
  border-width: 30px;
}
.custom-arrow {
  position:relative;
  margin-bottom: 27px;
}
.custom-arrow-last {
  margin-bottom: 18px;
}
input.full-width {
  margin-bottom: 27px;
}
p {
  font-size: 24px;
}
}



/* Medium Layout: 414px. */
@media only screen and (max-width: 600px) {
.header {
  padding: 3px 0;
}
.photo h2 {
font-size: 24px;
margin: 0;
}
.photo > img {
  border-width: 12px;
   margin-bottom: 2px;
     margin-top: 8px;
}
.photo > img {
  padding: 0;
}
.photo-guidelines {
  font-size: 12px;
  text-decoration: underline;
}
.save-profile {
border-radius: 3px;
font-size: 12px;
font-weight: normal;
padding: 2px 5px;
}
.custom-arrow {
  margin-bottom: 9px;
}
.custom-arrow-last {
  margin-bottom: -7px;
}
input.full-width {
  margin-bottom: 11px;
}
.full-width {
border-width: 3px;
font-size: 10px;
height: 20px;
padding: 0 0 0px 2px;
font-weight: bold;
}
textarea.tid{
	padding-left: 10px;
}
.custom-arrow::after {
  right: -11px;
  top: -1px;
  -webkit-transform: scale(0.15);
          transform: scale(0.15);
}
.full-width > option {
  font-size: 11px;
}
.back-btn img {
margin-top: 21%;
width: 11px;
}
.main-content {
  padding: 10px 0;
}
.form-group {
  margin-top: 26px;
  margin-bottom: 0;
}
.form-bottom {
  margin-left: 0px;
text-align: center;
}
.upload-photo, .choose-avatar {
border-radius: 2px;
font-size: 8px;
padding: 2px 2px;
}
span{
  font-size: 8px;
}
.tidbits {
  margin: 10px 0;
}
.pull-left,
.pull-right {
font-size: 14px;
font-weight: bold;
padding: 0 10px;
}
.tidbits {
margin: -3px 0 42px;
}
.footer-menu ul {
  padding: 0;
  float: right;
  margin: 0;
}
.footer-menu ul li a {
  padding: 8px 14px;
}
footer {
  padding: 13px 0;
}
textarea.form-control {
  font-size: 14px;
  height: 58px;
}
.pull-left {
border-width: 4px;
margin: -2px 0 0 15px;
}
.pull-right {
border-width: 4px;
margin: -2px 15px 0 0;
}
.form-bottom {
  margin-top: 7px;
  width: 136%;
}
.c-border {
border-width: 2px;
font-size: 12px;
padding: 0 3px;
}
.form-bottom a {
  padding: 0px 5px;
}
.upgrade {
font-size: 17px;
font-weight: normal;
margin-left: 35%;
padding: 7px 22px;
margin-bottom: 7px;
}
p {
  font-size: 9px;
  margin-bottom: 0;
  font-family: arial;
}
.footer-menu ul li a {
  font-size: 14px;
}
.col-md-2.col-xs-6 > a {
border-radius: 2px;
font-size: 8px;
left: 3px;
padding: 0 3px;
position: absolute;
top: -6px;
}
.col-md-7.col-xs-6.custom {
  padding-left: 0;
}
}

/* Medium Layout: 240px. */
@media only screen and (max-width: 240px) {
}

/**  Fonts   **/

@font-face {
	font-family:'MyriadPro-Regular';
	src: url(../fonts/'MyriadPro-Regular_gdi.eot');
	src: url(../fonts/'MyriadPro-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url(../fonts/'MyriadPro-Regular_gdi.woff') format('woff'),
		url(../fonts/'MyriadPro-Regular_gdi.ttf') format('truetype'),
		url(../fonts/'MyriadPro-Regular_gdi.svg#MyriadPro-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB04;
}
@font-face {
	font-family:'MyriadPro-SemiboldIt';
	src: url(../fonts/'MyriadPro-SemiboldIt_gdi.eot');
	src: url(../fonts/'MyriadPro-SemiboldIt_gdi.eot?#iefix') format('embedded-opentype'),
		url(../fonts/'MyriadPro-SemiboldIt_gdi.woff') format('woff'),
		url(../fonts/'MyriadPro-SemiboldIt_gdi.ttf') format('truetype'),
		url(../fonts/'MyriadPro-SemiboldIt_gdi.otf') format('opentype'),
		url(../fonts/'MyriadPro-SemiboldIt_gdi.svg#MyriadPro-SemiboldIt') format('svg');
	font-weight: 600;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-FB04;
}